
/**
 * Cores
 */

 $red: red;
 $barra-menu: #1E282C;
 $sombra-barra-menu: #383f45;
 $borda-bottom-menu: #DD4B39;
 $cor-logo: rgb(181, 191, 195);
 $preto: #fff;
 $barra-default: #222D32;
 $barra-hover: #383f45;
 $barra-hover-texto: #555;
 
$activity-background: #ffbdb5;